.footer-block__newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 680px;
  width: 100%;
}

.footer-block__heading {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  margin: 0;
  text-transform: uppercase;
}

.footer-block__heading p,
.footer-block__heading h1,
.footer-block__heading h2,
.footer-block__heading h3,
.footer-block__heading h4,
.footer-block__heading h5,
.footer-block__heading h6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  text-transform: inherit;
}

.footer__newsletter {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  background-color: #F4EBD9;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: #181818;
}

.newsletter-form__field-wrapper .field__label {
  font-size: 18px;
  text-transform: uppercase;
  color: #181818;
}


@media screen and (max-width: 768px) {
  .footer-block__newsletter {
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 36px;
    order: 1;
  }

  .footer-block__heading {
    font-size: 16px;
  }

  .newsletter-form__field-wrapper .field__input {
    font-size: 16px;
  }

  .newsletter-form__field-wrapper .field__label {
    font-size: 16px;
  }
}