.content-section {
    padding: 88px 0 333px 0;
    background-color: #030303;
    text-align: center;
    position: relative;
}

.content-section__content {
    position: relative;
    z-index: 2;
}

.content-section__title {
    font-size: 80px;
    line-height: calc(84 / 80);
    font-weight: 600;
    color: #F4EBD9;
    margin: 0 0 12px 0;
    font-family: "ClashDisplay";
}

.content-section__title h2,
.content-section__title h1,
.content-section__title h3,
.content-section__title h4,
.content-section__title h5,
.content-section__title h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    font-family: inherit;
}

.content-section__description p {
    font-size: 20px;
    line-height: calc(24 / 20);
    font-weight: 300;
    color: #F4EBD9;
    margin: 0 0 32px 0;
    text-transform: uppercase;
}

.content-section__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-decoration: none;
    color: #F4EBD9;
    font-weight: 600;
    background-color: #CF400B;
    padding: 17px 28px;
    font-family: "ClashDisplay";
    transition: all 0.3s ease;
    width: max-content;
    margin: 0 auto;
    min-height: 44px;
}

.content-section__button:hover {
    opacity: 0.9;
}

.content-section__button:focus-visible {
    outline: 3px solid #F4EBD9;
    outline-offset: 2px;
}

.content-section__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-section__image picture {
    width: 100%;
    height: 100%;
    display: flex;
}

.content-section__image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: bottom;
}

@media (max-width:1024px) {

    .content-section__title {
        font-size: 60px;
    }

    .content-section__description p {
        font-size: 16px;
    }

    .content-section__button {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .content-section {
        padding: 56px 0 190px 0;
    }

    .content-section__title {
        font-size: 38px;
    }

    .content-section__description p br {
        display: none;
    }

    .content-section__image {
        height: 75%;
    }
}

@media (max-width:500px) {
    .content-section {
        background-color: #131313;
    }

    .content-section__image img {
        object-fit: cover;
        object-position: bottom;
    }

    .content-section {
        padding: 56px 0 70%;
    }
}