.hero-section {
    position: relative;
    margin-bottom: 200px;
    background-color: #000000;
    z-index: 1;
}

.hero-section__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}

@media (max-width:1024px) {
    .hero-section {
        margin-bottom: 0;
        padding-bottom: 56px;
        overflow: hidden;
    }

    .hero-section__inner {
        flex-direction: column;
        align-items: center;
    }
}

.hero-section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-section__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section__content {
    max-width: 1085px;
    width: 100%;
    padding: 54px 0;
    position: relative;
}

@media (max-width:1024px) {
    .hero-section__content {
        max-width: 100%;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 215px;
    }

    .hero-section__bg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180%;
        height: auto;
    }
}

.hero-section__subtitle {
    color: #FBF8F4;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-transform: uppercase;
    max-width: 790px;
    width: 100%;
    font-weight: 300;
    margin: 0 0 12px 0;
}

.hero-section__title {
    margin: 0;
}

.hero-section__title p {
    color: #F4EBD9;
    font-size: 100px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "ClashDisplay";
    letter-spacing: -0.01em;
    margin: 0 0 30px 0;
}

.hero-section__title p em {
    position: relative;
    font-style: normal;
    overflow: hidden;
}

@media (max-width:1024px) {
    .hero-section__title p {
        font-size: 60px;
        margin: 0;
    }

    .hero-section__subtitle {
        max-width: 100%;
        text-align: center;
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .hero-section__title p {
        font-size: 44px;
    }

    .hero-section__subtitle {
        font-size: 16px;
    }
}

.hero-section__card {
    position: relative;
    z-index: 3;
    max-width: 360px;
    width: 100%;
}

@media (max-width:1024px) {
    .hero-section__card {
        display: none;
    }
}

.hero-section__card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-section__card-image img {
    width: 100%;
    height: 100%;
}

.hero-section__card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 96px 10px 76px 10px;
    text-align: center;
}

.hero-section__card-title {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(32 / 26);
    text-transform: uppercase;
}

.hero-section__card-text p {
    margin: 0;
    font-size: 18px;
    line-height: calc(24 / 18);
    text-transform: uppercase;
}

.hero-section__card-link {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-decoration: none;
    color: #F4EBD9;
    font-weight: 600;
    background-color: #CF400B;
    padding: 17px 28px;
    width: max-content;
    font-family: "ClashDisplay";
}

/* Keyframes для бесконечной вертикальной прокрутки */
@keyframes marquee-vertical {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.hero-section__slider {
    height: 915px;
    max-width: 340px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-section__slider-track {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: marquee-vertical 45s linear infinite;
}

/* Пауза при hover на слайдер */
.hero-section__slider:hover .hero-section__slider-track,
.hero-section__slider-track.paused {
    animation-play-state: paused;
}

.hero-section__slide {
    flex-shrink: 0;
}

@media (max-width:1024px) {
    .hero-section__slider {
        display: none;
    }
}

.hero-section__slide-image {
    cursor: pointer;
}

.hero-section__slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section__slider-card {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    z-index: 10;
    padding: 12px;
    width: 390px;
    text-align: center;
}

.hero-section__slider-card.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.hero-section__slider-card .card {
    border: none;
    background-color: #3A3A3A;
    color: #FBF8F4;
    transition: all .3s ease;
}

.hero-section__slider-card .card .card__heading {
    color: #FBF8F4;
    transition: all .3s ease;
}

.hero-section__slider-card .card .card-information>.price {
    color: #FBF8F4;
    transition: all .3s ease;
}

.hero-section__slider-card .card .badge {
    color: #FBF8F4;
    transition: all .3s ease;
}

.hero-section__slider-card .card:hover {
    border: 1px solid #CF400B;
    background: #181818;
    transition: all .3s ease;
}

.hero-section__slider-card-frame {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 99%;
    height: 99%;
    z-index: 0;
}

.hero-section__timer-wrapper {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 464px;
    width: 100%;
}

@media (max-width:1024px) {
    .hero-section__timer-wrapper {
        position: static;
        bottom: 0;
        transform: translateX(0);
    }
}

.--frame {
    position: absolute;
}

.--frame img {
    width: 100%;
    height: 100%;
}

.hero-section__timer-frame-top {
    top: -7px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.hero-section__timer-frame-bottom {
    bottom: -10px;
    left: -3px;
    width: 101%;
    z-index: 1;
}

.hero-section__timer-frame-left {
    left: -3px;
    top: 0;
    width: 10px;
    height: 100%;
    z-index: 1;
}

.hero-section__timer-frame-right {
    right: -2px;
    height: 100%;
    top: 0;
    z-index: 1;
}

.hero-section__timer {
    background-color: #181818;
    backdrop-filter: blur(100px);
    padding: 24px;
    width: 100%;
    height: 100%;
    position: relative;

    text-align: center;
}

.hero-section__timer-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1;
}

.hero-section__timer-image img {
    width: 100%;
    height: 100%;
}

.hero-section__timer-title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-transform: uppercase;
    color: #F4EBD9;
    margin: 0 0 12px 0;
    display: inline-block;
}

.hero-section__timer-countdown {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-section__timer-countdown span {
    font-weight: 600;
    font-size: 80px;
    line-height: calc(84/80);
    letter-spacing: -0.01em;
    color: #F4EBD9;
}

.timer-hours-dots,
.timer-minutes-dots {
    display: flex;
    width: 4px;
    height: 12px;
}

.hero-section__timer-text {
    font-weight: 300;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    color: #F4EBD9;
    margin: 0 0 20px 0;
}

.hero-section__timer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-decoration: none;
    color: #F4EBD9;
    font-weight: 600;
    background-color: #CF400B;
    padding: 17px 28px;
    width: 100%;
    font-family: "ClashDisplay";
    position: relative;
    z-index: 2;
}

.hero-section__timer-button svg {
    width: 32px;
    height: 24px;
}

@media (max-width:1024px) {
    .hero-section__timer {
        padding: 24px 16px;
    }

    .hero-section__timer-title {
        font-size: 20px;
        line-height: calc(24 / 20);
    }

    .hero-section__timer-text {
        font-size: 16px;
        line-height: calc(20 / 16);
    }

    .hero-section__timer-button {
        font-size: 16px;
        line-height: calc(20 / 16);
    }

    .hero-section__timer-countdown span {
        font-size: 44px;
        line-height: calc(48 / 44);
    }

    .hero-section__timer-button {
        padding: 14px;
    }
}

.hero-section__slider-card .product-card-wrapper .card.gradient {
    background: #3A3A3A !important;
}

.hero-section__slider-card .product-card-wrapper .quick-add__submit {
    padding: 14px 16px;
}

.hero-section__slider-card .product-card-wrapper .gradient.card .card__content .card__heading a,
.hero-section__slider-card .product-card-wrapper .gradient.card .card__content .card-information .price__regular,
.hero-section__slider-card .product-card-wrapper .gradient.card .card__content .card-information .price__sale,
.hero-section__slider-card .product-card-wrapper .gradient.card .card__custom-badges .badge {
    color: #FBF8F4 !important;
}

.hero-section__slider-card .card__content .quick-add {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.hero-section__slider-card .quick-add .quick-add__submit {
    background-color: #F4EBD9 !important;
    color: #CF400B !important;
    border: none !important;
}

.hero-section__slider-card .quick-add .quick-add__submit .icon-wrap svg path {
    fill: #CF400B !important;
}