.seasonal-collection {
    background-color: #181818;
    padding: 88px 0;
    overflow: hidden;
}

.seasonal-collection_title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.seasonal-collection_title h2 {
    font-size: 80px;
    line-height: calc(84 / 80);
    font-weight: 600;
    color: #F4EBD9;
    margin: 0;
}

.seasonal-collection_title span {
    font-weight: 300;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #F4EBD9;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.seasonal-collection_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.seasonal-collection_description {
    font-weight: 300;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #F4EBD9;
    margin: 0;
    text-transform: uppercase;
    max-width: 803px;
    width: 100%;
}

.seasonal-collection_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-decoration: none;
    color: #F4EBD9;
    font-weight: 600;
    color: #CF400B;
    background-color: #F4EBD9;
    padding: 17px 28px;
    font-family: "ClashDisplay";
    transition: all 0.3s ease;
}

.seasonal-collection_button:hover {
    background-color: #CF400B;
    color: #F4EBD9;
    transition: all 0.3s ease;
}

.seasonal-collection_swiper-wrapper {
    position: relative;
    max-width: 1384px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 60px;
}


.seasonal-collection_swiper-wrapper .swiper-button-prev,
.seasonal-collection_swiper-wrapper .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: #F4EBD9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.seasonal-collection_swiper-wrapper .swiper-button-prev {
    transform: rotate(180deg);
}

.seasonal-collection_swiper-wrapper .swiper-button-prev svg,
.seasonal-collection_swiper-wrapper .swiper-button-next svg {
    width: 34px;
    height: 24px;
    color: #CF400B;
}

.seasonal-collection_swiper-wrapper .swiper-button-disabled {
    background-color: #3A3A3A;
    opacity: 1;
}

.seasonal-collection_swiper-wrapper .swiper-button-disabled svg {
    color: #BEBEBE;
}

.seasonal-collection_swiper {
    max-width: 1216px;
    width: 100%;
}

.swiper-slide {
    min-height: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .seasonal-collection_title {
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 8px;
    }

    .seasonal-collection_title h2 {
        font-size: 38px;
    }

    .seasonal-collection_description {
        max-width: 100%;
        font-size: 16px;
    }

    .seasonal-collection_button {
        display: none;
    }

    .seasonal-collection_swiper-wrapper {
        margin-top: 40px;
    }


    .seasonal-collection_swiper-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    .seasonal-collection_swiper-wrapper .swiper-button-prev,
    .seasonal-collection_swiper-wrapper .swiper-button-next {
        position: static;
        margin: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        transition: none;
    }

    .seasonal-collection_swiper-wrapper .swiper-button-next {
        transform: translateY(0);
    }

    .seasonal-collection_swiper-wrapper .swiper-button-disabled svg {
        color: #3A3A3A;
    }
}

@media (max-width: 768px) {

    .seasonal-collection {
        padding: 56px 0;
    }

    .seasonal-collection_swiper {
        overflow: visible;
    }
}