.footer {
  padding: 88px 0 39px 0;
  background-color: #CF400B;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 80px;
}

.footer_top-menu {
  width: 100%;
}

.footer_top-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 24px;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  max-width: 320px;
  width: 100%;
}


.--footer-link {
  color: #FBF8F4;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-transform: uppercase;
}

.footer_logo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.footer_logo-image {
  width: 100%;
  height: 100%;
}

.footer_bottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 769px) {

  .footer_top-menu--full-width {
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 56px 0;
  }

  .footer_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_top {
    display: contents;
  }

  .footer_top-menu {
    order: 3;
    margin-bottom: 56px;
  }

  .footer_top-menu-list {
    justify-content: center;
    margin: 0 auto;
    max-width: 275px;
  }

  .footer_bottom-list {
    justify-content: center;
  }

  .footer_logo {
    order: 2;
  }

  .footer_bottom {
    order: 4;
  }

  .footer_top-menu-list .--footer-link {
    font-size: 16px;
  }

  .footer_bottom-list .--footer-link {
    font-size: 14px;
  }

  .footer_bottom-list .footer_bottom-item:nth-child(1) {
    width: 100%;
    text-align: center;
  }
}